<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAS1dxCHHh5dpTXpiQr-BN_YPzeyC1pKXc</string>
	<key>GCM_SENDER_ID</key>
	<string>863838160927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.realTimeChatting.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-first-project-56712</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-project-56712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863838160927:ios:cae6a987193759a2072d2a</string>
</dict>
</plist>